.navBar {
    display: none;
}

.navItem {
    margin-left: 3.5rem;
    font-weight: 500;
    font-family: 'Alegreya Sans SC', sans-serif;
    font-size: 1.125rem;
}

.drawer {
    display: flex; 
    flex-direction: column;
    row-gap: 2rem;
}

@media (min-width: 992px) {
    .navBar {
        display: flex;
        align-items: center;
        /* background-color: aqua; */
    }
}

