.bg {
    min-width: 100%;
    min-height: 100%;
    background-image: url("/images/bg_footer_lg.png");
    background-color: #F9F7E5;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
  }
.bgDark {
    composes: bg;
    background-image: url("/images/bg_footer_lg_dark.png");
    background-color: #17120F;
}

.footer {
    display: grid;
    grid-template-areas: 
        "logo"
        "contentLayout"
        "subscribe";
    grid-row-gap: 4rem;
    padding: 6.5rem 3rem;
}

.logo {
    grid-area: logo;
    justify-self: center;
}

.logoSize {
    width: 5.5rem;
}

.content {
    grid-area: contentLayout;
    display: flex;
    justify-content: space-between;
}

.contentItem {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
}

.title {
    font-family: 'Alegreya Sans SC', sans-serif;
    font-weight: bold;
    font-size: 1.125rem;
    margin-bottom: 2.875rem;
}

.text {
    font-family: 'Alegreya Sans SC', sans-serif;
    font-weight: 500;
    font-size: 0.875rem;
    margin-bottom: 0;
    margin-left: 0.375rem;
}

.inputBox {
    display: flex;
    align-items: center;
    border-bottom: solid 1px;
}

.subscribeContent {
    display: flex;
    justify-content: space-between;
}

.contact {
    grid-area: contact;
}

.findUs {
    grid-area: findUs;
}

.subscribe {
    grid-area: subscribe;
}

.icon {
    display: inline-flex;
    gap: 1.25rem;
    margin-top: 1rem;
}

@media (min-width: 768px) {
    .subscribeContent {
        flex-direction: column;
    }
    .footer {
        grid-template-areas: 
            "logo contentLayout subscribe";
        grid-template-columns: auto 1fr auto;
        padding: 6.5rem 0rem;
    }
    .content {
        justify-content: start;
        margin-left: 4rem;
        gap: 2.5rem;
    }

    
    /* .bg {
        background-image: url("/public/images/bg_footer_lg.png");
    } */
}
  
@media (min-width: 992px) {
    .logoSize {
        width: 8rem;
    }
    .content {
        margin-left: 6rem;
        gap: 4.75rem;
    }
    .title {
        font-size: 1.25rem;
    }
    .text {
        font-size: 1rem;
    }
    /* .bg {
        background-image: url("/public/images/bg_footer_lg.png");
    } */
}