.banner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 11.375rem 0 23rem 1.375rem;
}

.mainTitle {
    font-size: 2rem;
    font-family: 'Alice', serif;
}

.slogan {
    font-size: 0.75rem;
    font-family: 'Alice', serif;
}

.title {
    font-size: 2.5rem;
    font-family: 'Alegreya Sans SC', sans-serif;
    font-weight: bold;
}

.description {
    font-size: 0.875rem;
    font-family: 'Alegreya Sans', sans-serif;
}

.bannerImage {
    width: 16.5rem;
}

.story {
    margin-bottom: 6.5rem;
}

.storyContent {
    margin: 4rem 2.875rem 0;
}

.storyImage {
    width: 21.75rem;
}

.contentButton {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
}

.ingredients {
    display: grid;
    grid-template-areas: 
        "image"
        "ingredientsContent";
    margin-bottom: 13rem;
}

.ingredientsContent {
    grid-area: ingredientsContent;
    margin-left: 2.875rem;
    margin-right: 2.875rem;
}

.ingredientsImage {
    grid-area: image;
    width: 24.3rem;
    justify-self: end;
}

.bottomButton {
    display: flex;
    justify-content: center;
    margin-bottom: 7.3rem;
    margin-top: 2rem;
}
.button {
    width: 8.75rem;
    height: 2.375rem;
}

@media (min-width: 768px) {
    .bgHeader {
        background-image: url("/public/images/bg_home_header_md.png");
    }
    .banner {
        margin: 10.5rem 0 30rem;
    }

    .bannerImage {
        width: 28rem;
    }

    .story {
        display: flex;
    }

    .storyContent {
        margin: 0 3.75rem 0 2.3rem ;
    }

    .storyImage {
        width: 27rem;
    }

    .contentButton {
        justify-content: start;
    }

    .ingredients {
        /* grid-template-areas: "ingredientsContent image"; */
        display: flex;
        justify-content: end;
    }

    .ingredientsImage {
        width: 29rem;
    }

    .ingredientsContent {
        margin-left: 3.75rem;
        margin-right: 0;
    }

    .bottomButton {
        margin-bottom: 12rem;
    }

    .mainTitle {
        font-size: 4rem
    }

    .slogan {
        font-size: 1rem;
    }

}
  
@media (min-width: 992px) {
    .bgHeader {
        background-image: url("/public/images/bg_home_header_lg.png");
    }
    .banner {
        margin: 9.8rem 0 19rem;
    }
    .bannerImage {
        width: 35.625rem;
    }

    .storyContent {
        margin: 0 6.9rem 0 4rem ;
    }

    .storyImage {
        width: 39rem;
    }

    .ingredientsImage {
        width: 42.5rem;
    }

    .ingredientsContent {
        margin-left: 6.56rem;
    }

    .bottomButton {
        margin-bottom: 6.3rem;
    }
    .mainTitle {
        font-size: 5.25rem
    }
    .slogan {
        font-size: 1.25rem;
    }
    .title {
        font-size: 3rem;
    }
    .description {
        font-size: 1.25rem;
    }
    .button {
        width: 11rem;
        height: 3rem;
    }
}